<head>

</head>
<body>
    <h1>Login</h1>
    <p>Enter Username and Password.</p>
    <div class="form">
        <form action="/logincheck" method="POST">
            <p>
                <label for="username">username</label>
                <input type="text" username=username>
            </p>
            <p>
                <label for="password">password</label>
                <input type="text" password=password>
            </p>
            <input type="submit" value="login">
        </form>
        <p><a href="/signup">Sign Up</a></p>
    </div>
</body>