<head>

</head>
<body>
    <h1>My page [{{username}}]</h1>
    <h2><a href="/timeline">Time Line</a><a href="/mypage">My page</a></h2>
    <div class="form">
        <form action="/send" method="POST">
                <label for="message">message</label>
                <input type="text" name="message">
                <input type="submit" value="tweeet">
        </form>
    </div>
    {% for chat in chats %}
    <p>{{chat.message}} [{{chat.date}}] <a href="/delete/{{chat.id}}">delete</a></p>
    {% endfor %}
</body>