<head>

</head>
<body>
    <h1>Time Line [{{username}}]</h1>
    <h2><a href="/mypage">My page</a></h2>
    <div class="form">
        <form action="/send" method="POST">
                <label for="message">message</label>
                <input type="text" name="message">
                <input type="submit" value="tweeet">
        </form>
    </div>
    {% for chat in chats %}
    <p><a href="/userpage/{{chat.username}}">[{{chat.username}}]</a>
        {{chat.message}} [{{chat.date}}]</p>
    {% endfor %}
</body>